<%= form_tag("/storecredentials") %>

<div id="creds">
<p>
<%= label_tag "access_key", "AWS Access Key Id"%>
<%= text_field_tag "access_key", '', :size => 22 %>
</p>

<p>
<%= label_tag "secret_key", "AWS Secret Access Key"%>
<%= text_field_tag "secret_key", '', :size => 42 %>
</p>
</div>

<%= image_submit_tag("btn_continue.gif", :name => "submit") %>
 
